# Soyoung EDA on first received csv file

https://github.com/parksoy/Udacity_nanoDegree_MachineLearning/blob/master/capstone/CapstoneProject_ML4Trading_SoyoungPark.ipynb

In [43]:
%reset

In [44]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [45]:
import pandas as pd
df=pd.read_csv('/Users/soyoungpark/Desktop/DAMADAY2020_NASA/ml_data_damaday.csv')
df.head(2)

,USID,0,1,2,3,4,5,6,7,8,...,2000,Param1,Param2,Param3,Param4,Param5,Param6,Param7,Label1,Label2
0,8198000001,0,0,0,0,0,0,0,0,0,...,0,12.6549,5,0.463842,1,3812,83,0.01,CsI,CsI
1,8198000002,0,0,0,0,0,0,0,0,0,...,0,12.2765,5,0.644139,1,2891,99,0.01,CsI,CsI

In [46]:
df.shape

(26685, 2011)

In [47]:
df.dtypes

USID        int64
0           int64
1           int64
2           int64
3           int64
           ...
Param5      int64
Param6      int64
Param7    float64
Label1     object
Label2     object
Length: 2011, dtype: object

In [48]:
df.index

RangeIndex(start=0, stop=26685, step=1)

# Prep the data to feed to ML/DL algorithms

## (1) Split X, paramX, y1,y2

In [49]:
df.columns

Index(['USID', '0', '1', '2', '3', '4', '5', '6', '7', '8',
       ...
       '2000', 'Param1', 'Param2', 'Param3', 'Param4', 'Param5', 'Param6',
       'Param7', 'Label1', 'Label2'],
      dtype='object', length=2011)

In [50]:
df_paramX=df[['Param1','Param2','Param3', 'Param4', 'Param5', 'Param6','Param7']]
df_paramX.head(2)

    Param1  Param2    Param3  Param4  Param5  Param6  Param7
0  12.6549       5  0.463842       1    3812      83    0.01
1  12.2765       5  0.644139       1    2891      99    0.01

In [51]:
y1 = df.Label1
y2 = df.Label2
y1.head(2)

0    CsI
1    CsI
Name: Label1, dtype: object

In [52]:
df_spectrum=df.drop(['Label1','Label2','Param1','Param2','Param3', 'Param4', 'Param5', 'Param6','Param7','USID'], axis=1)
df_spectrum.head(2)

,0,1,2,3,4,5,6,7,8,9,...,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Put spectra into an array

In [53]:
cols=df_spectrum.columns.tolist()

In [56]:

df['spectraArray'] = df_spectrum[cols].apply(lambda row: [','.join(row.values.astype(str))], axis=1)

df['spectraArray'].head(2)

0    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
1    [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0...
Name: spectraArray, dtype: object

In [63]:

df_reformat=pd.concat([df['USID'], df['spectraArray'], df_paramX, df[['Label1','Label2']]],axis=1)
df_reformat.head(2)
df_reformat.to_csv('SpectraInArrayInOneColumn.csv')

## Understand y distribution

In [ ]:
import plotly.express as px
import plotly.io as pio
pio.renderers.default='notebook'

fig1 = px.histogram(y1, x="Label1")
pio.show(fig1)

fig2 = px.histogram(y2, x="Label2")
pio.show(fig2)

## Plot each scan(row)

In [ ]:
df_spectrum.shape

In [ ]:
df_spectrum.iloc[0]

## How each spectrum(row) looks like

In [ ]:

%matplotlib inline 
import matplotlib.pyplot as plt

 
# line plot
series=df_spectrum.iloc[10]
ax=series.plot()
ax.set_ylabel('Count')
ax.set_xlabel('MassSpectrum')

plt.show()

# Getting ready for ML/DL training and prediction

## NASA's current approach: 
With explicit feature engineering/dimentionality reduction (by Victoria and Eric)

## [Q1] Is there a better process than the unsupervised → supervised we are using?

#### A1-1. Approach #1. Without manual feature engineering/dimentionlity reduction
Ref: https://blog.goodaudience.com/introduction-to-1d-convolutional-neural-networks-in-keras-for-time-sequences-3a7ff801a2cf

#### A1-2. Approach #2. Your turn.

## [Q2] How can we make more data? Transfer learning is still a big question mark, how is it implementable? What is the best way?

#### A2-1: Approach 2-1: Simulation generating mass spectra.

## [Q3] How do we avoid missing the anomaly that contains the Nobel prize? (--> trusting AI theme)

#### A3-1. Approach 1. Improving Signal to Noise ratio/detection rate by

## [Q4]: Realtime automated determination in the rover?

#### A4-1: Approach 1: